
html { 
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000;
  }

@font-face {
  font-family: 'Redaction';
  src: url('webfonts/Redaction_100-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Redaction-20';
  src: url('webfonts/Redaction_20-Italic.woff2') format('woff2');
}


body{
    background-repeat: repeat-x;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    padding:1rem;
    margin:0 auto;
    position: relative;
    /* background-color: indianred; */
}

img{
    width:50%;
    position:relative;
}

h1,p{
  position: relative;
  color:white;
  left: 10%;
  font-family: 'Courier New', Courier, monospace;
}

#title{
  font-family: 'Redaction';
  font-size: 100px;
  top:10%;
}



#banner{
  background-color: #000;
  color:aliceblue;
}

textarea {
  overflow-y: scroll;
  height: 100px;
  
}

label{
  background: #000;
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
}

#input{
  position: absolute;
  right:10px;
  
}

#header{
  background: white;
  color:#000;

}


@media only screen and (max-width:760px){
  #title{
    font-size: 50px;
  }

  #input{
    position:absolute;
    right: 10px;
    bottom: 20px;
    
  }
}
